.container {
	height: 100%;
}

mat-card {
	margin:  5px;
}

.selected-task {
  font-weight: bold;
}

.file-input {
  display: none;
}


/*Tree styles*/
.tree-container {
	overflow-x: scroll;
}


.example-tree-invisible {
  display: none;
}

.mat-tree-node {
  min-height: 1.5em !important;
  height: 1.5em;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 1.5em;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 0;
}

.mat-icon-rtl-mirror {
	font-size: 14px;
	line-height: unset;
	height: unset;
	width: unset;
}

.project-item {
	font-family: monospace;
	line-height: unset;
}


:host() ::ng-deep .CodeMirror{
height:100%;
}

.selected-file {
  font-weight: bold;
}


.code-container {
	overflow-y: scroll;
}