  <div class="container" fxFill fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="30">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" [(ngModel)]="username">
          </mat-form-field>
        </p>
    
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" [(ngModel)]="password">
          </mat-form-field>
        </p>
    
        <p *ngIf="error" class="error">
          {{ error }}
        </p>
        <p>
          New user? <a [routerLink]="['/register']">Create an account</a>
        </p>
    
        <div>
          <button (click)="submit()" mat-button>Login</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>